</div>
    <script src="/javascripts/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/BootSideMenu.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $('#test').BootSideMenu({side:"right", autoClose:true});
      });
      function show(){
        document.getElementById("searchForm").style.display="block";
      }
    </script>
</body>
</html>
