<HTML>
<HEAD>
<meta http-equiv="Content-Type"  content="text/html; charset=utf-8">
<TITLE>test form</TITLE>
</HEAD>

<BODY>
    <form method="post" action="/createMission">
    	视频名称：<input type="text" name="videoName"><br>
    	视频id：<input type="text" name="vu"><br>
    	开始播放时间：<input type="text" name="beginTime"><br>
    	视频时长：<input type="text" name="duration"><br>
    	观看成员：<input type="text" name="members"><br>
    	<button type="submit">ok</button>
    </form>
</BODY>
</HTML>
