<HTML>
<HEAD>
<meta http-equiv="Content-Type"  content="text/html; charset=utf-8">
<TITLE>test form</TITLE>
</HEAD>

<BODY>
    <form method="get" action="/search/s">
    	视频名称：<input type="text" name="videoName"><br>
    	<button type="submit">ok</button>
    </form>
</BODY>
</HTML>